.submissionMainContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw ;

}

.addSubmissionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    width: 42vw;

}

.addPersonContainer {
    margin-top: 40px;
}

.submissionDetailContainer {
    margin: 180px 0 0 0;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items:st;
    justify-content: start;
}

.lastButtons {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    gap: 0px;
    align-items: flex-start;
}

.lastButtons input {
    margin-top: 10px;
    margin-bottom: 72px;
}

@media screen and (max-width: 888px) {
    .submissionMainContainer {
        flex-direction: column;
        overflow-y: scroll;
    }
    .submissionDetailContainer {
        margin: 30px 0 30px 8px;
        align-items: start;
    }

    .lastButtons {
        flex-direction: column;
        align-items: center;
    }

    .lastButtons input {
        margin-bottom: 10px;
    }
}