.radioSelectTrack {
    display: flex;
    flex-direction: row;
    overflow-x: visible;
    overflow-y: hidden;
    scrollbar-width:thin;
    width: 200%;
    position: relative;
    z-index: 10;
}

.radioSelectTrack label {
    font-size: 12px;
    align-items: center;
    
}

.radioSelectTrack input {
    margin-right: 50px;
}