.conference-detail {
    display: flex;
    border: 2px solid white;
    border-radius: 16px;
    height: 132px;
    width: 100%;
    color: white;
    padding: 0px 0px;
    font-family: Arial, sans-serif;
  }
  
  .description-container {
    display: flex;
    flex-direction: row ;
    flex: 2;
    border-right: 2px solid white;
    padding: 8px;
  }

  .description{
    font-size: 14px; 
    overflow-y: auto;
    width: 70%;
  }
  
  .text-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: small;
  }
  
  .small-details {font-size: smaller;}
  
  .buttons-container {
    display: flex;
    flex: 3;
  }
  
  .button {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid white;
    border-radius: 0 16px 16px 0;
    padding: 0px 0px;
  }
  
  .button:last-child {
    border-right: none;
  }
  
  .button p {
    margin-top: 5px;
    font-size: 12px;
  }
  